/* ===================================================================
  PAGINATION
=================================================================== */
.pagination {
  text-align: center;
  margin-top: $gutter;

  @include for-tablet-portrait-up {
    margin-top: $gutter * 2;
  }

  a.page-numbers,
  span.page-numbers {
    min-width: 1em;
    line-height: 1em;
    padding: 14px;
    display: inline-block;
    color: $color-text;
    box-sizing: content-box;
    text-align: center;
    text-transform: uppercase;

    @include at-query($max, 600px) {
      margin-left: 0;
      margin-right: 0;
    }

    @include for-tablet-portrait-up {
      @include font-size(18);
    }
  }

  .page-numbers.current,
  a.page-numbers:hover {
    color: $color-primary;
  }

  .page-numbers.current {
    text-decoration: underline;
  }
}