/* ===================================================================
  STICKY NAVIGATION
=================================================================== */
.js-sticky-bar .sticky-bar__inner {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  display: block;
  height: auto;
  /* overflow: auto; */
  z-index: 1000;
  -ms-transform: translate3d(0, -100%, 0);
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  backface-visibility: hidden;
}

.js-sticky-bar--open .sticky-bar__inner {
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /* transition: all 0.35s cubic-bezier(0.33, 0.59, 0.14, 1); */
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease,-webkit-transform .4s ease;
}

.admin-bar.js-sticky-bar--open .sticky-bar__inner {
  top: 32px;
}