/* ===================================================================
  SOCIAL LINKS
=================================================================== */
.social-links {
  margin-left: -2px;
  @include font-size(20);

  a {
    color: $color-text;
    display: inline-block;
    min-width: 1em;
    line-height: 1em;
    padding: 0.2em;
    margin-right: 0.1em;

    &:hover {
      // color: $color-link;
      color: $white;
    }
  }

  i {
    display: block;
  }
}